@font-face {
    font-family: "My Custom Font";
    src: url("../fonts/emulogic.ttf") format("truetype");
}

a:link, 
a:visited
{
    color: #f7f44c;
}

a:hover
{
    color: orange;
}

body {
	margin: 0;
	background: #25a4c4;
	font-family: "My Custom Font", Courier, Arial;
	color: #f7f44c;
	text-align: center;
}        

.container
{
    margin: 0 auto;
}

.display
{
    margin: 0 auto;
}

ul, ol, li
{
    list-style-type: none;
}