@font-face {
    font-family: "My Custom Font";
    src: url("../fonts/emulogic.ttf") format("truetype");
}

a:link, 
a:visited
{
    color: #f7f44c;
    text-decoration: none;
    cursor:pointer;
}

a:hover
{
    color: orange;
    text-decoration: underline;
}

body {
    margin: 0;
    background: #25a4c4;
    font-family: "My Custom Font", Courier, Arial;
    color: #f7f44c;
    text-align: center;
}        

.container
{
    margin: 0 auto;
}

#game
{
    border-width: 1em 0;
    border-style: solid;
    width: 700px;
    height: 525px;
    background-image: url("../assets/water0.png");
}

.content
{
    display: inline-block;
    border: 1em solid;
    margin: 1em 0;

}

#menu
{
    background: #25a4c4;
    width: 304px;
    margin-top: 3em;
    border: 0.5em solid;
    padding-bottom: 0.1em;
    width:304px;
}

.display
{
    margin: 0 auto;
}

table.playerframe        
{
    border: 0.5em solid;
    width: 70%;
}


.startButton {
    background-color:#21a39c;
    border:0.5em solid;
    display:inline-block;
    font-weight:bold;
    padding:0.5em 2em;
    margin: 1em 0;
}
.startButton:hover {
    background-color:#1a273d;
}

/* makes it look like it's clicking */
.startButton:active {
    position:relative;
    top:1px;
}

.configTitle
{
    font-weight: bold;
    color: green;
}

.imagebox
{
    margin-top: 3em;
    margin-bottom: 1em;
    text-align: center;
    
}

.pro, .con, .meh
{
    font-size: 0.8em;
    font-weight: bold;
}

.pro
{
    color: lime;
}

.con
{
    color: red;
}

.meh
{
    color: gray;
}